{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AZURE_STORAGE_CONNECTION_STRING": "YOUR_AZURE_STORAGE_CONNECTION_STRING_HERE",
    "SMTP_HOST": "smtp.gmail.com",
    "SMTP_PORT": "587",
    "SMTP_USER": "your-email@gmail.com",
    "SMTP_PASS": "your-app-password-here"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*"
  }
}
